In [ ]:
a=20
b=40
print(b)

40

In [ ]:
a=30;
b=20;
print("A",a)

A 30

In [ ]:
a=5;
b=10;
print("B",b)

B 10

In [ ]:
price=99.99;
print("price")

price

In [ ]:
is_valid=True
print(is_valid)

True

In [ ]:
x,y,z=10,20,30
print(x,y,z)

10 20 30

In [ ]:
p=q=r=10
print(p,q,r)

10 10 10

In [ ]:
age=25
printage=25
age=30
print(age)

30

In [ ]:
value=50
del value
# print(value) #This will cause an error since value is deleted.

In [ ]:
message="Hellow, World!"
print(len("message"))

7

In [ ]:
data=42
print(data)
data=str(data)
print(data)

42
42

In [ ]:
num=5
if num>=0:
  print("positive number")

positive number

In [ ]:
a=10
b=20
if(a<b):
  print("Ais greatest")
else:
  print("Bis greatest")

Ais greatest

In [ ]:
age=19
if(age>=18):
  print("You are eligible")
else:
  print("You are not eligible")

You are eligible

In [ ]:
num=50
if(num>=50):
  print("Number is equal")
else:
  print("Number is not equal")

Number is equal

In [ ]:
a=10
b=20
c=a+b
if(c>=40):
  print("C is greatest ")
else:
  print("C is smallest")

C is smallest

In [ ]:
a=20
b=-30
d=a+b
if(d<b):
  print("")
else:
  print("D is greatest")

D is greatest

In [ ]:
a=35
c=20
if(a>c):
  print("A is smallest")
else:
  print("C is smallest")

A is smallest

In [ ]:
c=40
b=20
if(c%2==0):
  print("C is even number ")
else:
  print("B is odd number")

C is even number

In [ ]:
a=int(input("enter the value:"))
if(a %2==0):
  print("Even")
else:
  print("Odd")

enter the value:8
Even

In [ ]:
x=10
if(x==10):
  print("Python is cool")

Python is cool

In [ ]:
year=2024
if(year %4==0 and year %100!=0):
  print("Leap year")
else:
  print("Not a leap year")

Leap year